{% extends 'main.html' %}

{% block content %}
  <style>
    .room-container{
      display:grid;
      grid-template-columns: 3fr 1fr;
    }
  </style>
 <div class="room-container">
    <div>
      <h1>{{room.name}}</h1>
      <p> {{room.description}}</p>
      <div class="comments-wrapper">
        <h3>Conversations</h3>
        <hr>
        {% for message in room_messages %}
          <div>
            <small>@{{message.user}} {{message.created|timesince}} ago</small>
            <p>{{message.body}}</p>
            <hr>
          </div>
        {% endfor %}
      </div>

    {% if request.user.is_authenticated %}
      <div class="comments-form">
        <form method="POST" action="">
          {%csrf_token%}
          <input type="text" name="body" placeholder="write your message" />
        </form>
        
      </div>
    {% endif %}
  </div>
  <div>
    <h3>Participants</h3>
  </div>
 </div>
{% endblock content %}